:root{
    --fdtc-navy:#002b49;
    --fdtc-blue:#0078c9;
    --fdtc-yellow:#f8df7a;
    --fdtc-orange:#e95530;
    --fdtc-sky-100:#def1fb;
    --font-sans:"Poppins", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    --fs-14:14px; --fs-18:18px;
    --radius-md:10px; --radius-lg:16px;
    --color-bg:var(--fdtc-navy);
    --color-surface:#0e354e;
    --color-surface-contrast:#ffffff;
    --color-border:#29465f;
    --color-primary:var(--fdtc-blue);
    --color-danger:var(--fdtc-orange);
}
